TeamProject01/.classpath
TeamProject01/.project
TeamProject01/.settings/.jsdtscope
TeamProject01/.settings/org.eclipse.jdt.core.prefs
TeamProject01/.settings/org.eclipse.wst.common.component
TeamProject01/.settings/org.eclipse.wst.common.project.facet.core.xml
TeamProject01/.settings/org.eclipse.wst.jsdt.ui.superType.container
TeamProject01/.settings/org.eclipse.wst.jsdt.ui.superType.name
